@font-face {
  font-family: "OpenSansRegular";
  src: url("../../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BeerRegular";
  src: url("../../fonts/BeerRegular/BeerRegular.eot");
  src: url("../../fonts/BeerRegular/BeerRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/BeerRegular/BeerRegular.woff") format("woff"),
  url("../../fonts/BeerRegular/BeerRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FlowRegular";
  src: url("../../fonts/FlowRegular/FlowRegular.eot");
  src: url("../../fonts/FlowRegular/FlowRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/FlowRegular/FlowRegular.woff") format("woff"),
  url("../../fonts/FlowRegular/FlowRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}